.btn {
    height: 25px;
    width: 100px;
}

.btn.active {
    height: 25px;
    width: 100px;
    background-color: coral;
}

.info {
    height: 100px;
    width: 100px;
    background-color: blue;
    /* position: absolute; */
    display: block;
}

.activ {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 128);
    /* position: absolute; */
    display: block;
}